<ion-view view-title="比赛信息">
    <ion-nav-buttons side="right">
      <button class="button button-clear button-light" ng-click="toGameOutput()" >
        &nbsp 发布 &nbsp 
      </button>
    </ion-nav-buttons>
  <ion-content>
	<ion-refresher
		pulling-text="刷新♬～"
		on-refresh="doRefresh()">
	</ion-refresher>
	<div id="searchBar" class="list list-inset">
		<label class="item item-input">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="text" ng-model="searchQuery" placeholder="搜索">
		</label>
	</div>
	<div class="list">
		<label class="item item-input item-select" >
			<div class="input-label ng-hide" style="color:#AAAAAA;float:left;" ng-show="gameSelelctPlaceHolder">
			  比赛类型
			</div>
			<select ng-model="typeQuery" ng-change="changePlaceHolder()">
				<option value=""></option>
				<option value="">全部</option>
				<option>电子设计</option>
				<option>数学建模</option>
				<option>编程算法</option>
				<option>APP开发</option>
				<option>机器人比赛</option>
				<option>创新创业基金项目</option>
				<option>商业创业类</option>
				<option>设计类比赛</option>
				<option>音乐类比赛</option>
				<option>体育类比赛</option>
				<option>美术影视</option>
			</select>
			<div class="input-label" style="width:1%;"> &nbsp </div>
		</label>
	</div>
    <ion-list>
		<div class="">
		  <ion-item class=" myRecuitCard card" ng-repeat="Game in Games | filter:searchQuery | filter:typeQuery" type="item-text-wrap" href="#/tab/games/{{Game .pk}}">
			<!-- <img ng-src="{{chat.face}}"> -->
			<h2>{{Game.title}}</h2>
			<p>&nbsp{{Game.time}}</p>
			<p hidden="hidden">{{Game.type}}</p>
			<!-- <p>{{chat.detail}}</p> -->
			<!-- <i class="icon ion-chevron-right icon-accessory"></i> -->
			<!--  <ion-option-button class="button-assertive" ng-click="remove(chat)">
			  Delete
			</ion-option-button>-->
		  </ion-item>
		</div>
    </ion-list>
	<ion-infinite-scroll
		ng-if="moreDataCanBeLoaded"
		on-infinite="loadMore()"
		distance="3%">
	</ion-infinite-scroll>
  </ion-content>
</ion-view>